#cloud-config
users:
  - name: ansible
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAG6aC5//sQeFKok38iqM9Z5tN1LiOuNiL3eqIncvvH6 ansible@lab4

ssh_pwauth: false
disable_root: true